# Server Configuration
PORT=5000
NODE_ENV=development

# RapidAPI / Public Instagram API Configuration (Optional / As per your API provider)
RAPIDAPI_KEY=72260d9889msh6a5ca42f936bd3dp187d8bjsneeb9dadb3f2e
RAPIDAPI_HOST=your_rapidapi_host_here

EASYDOWN_API_KEY=ed_live__RqFtBhJcIHu5fH9KwOWaUqNi6pzQ3jqI42vbaHUb_Q